{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Custom CSS links -->
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
    <link 
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
        rel="stylesheet">
    <link 
        href='https://fonts.googleapis.com/css?family=Sofia' 
        rel='stylesheet'>
    <link 
        rel="stylesheet" 
        href="{% static 'css/custom-stylesheet-login.css' %}">
    <link 
        rel="stylesheet" 
        href="{% static 'css/header-footer.css' %}">
    <title> 🛡 DNI - Donor Alliance Center </title>
</head>
<body>
    <header class="zone blue">
        <div class = "nav-bar">
            <p id = "company_name" class = "push_this_left"><a href="hospital-main-page.html">I Donate. Match Organs  - Save lives</a></p>
        </div>
    </header>
    <!-- Login form for the donors -->  
    <div class="overlay">
        <div class="container mt-5">
            <div class="card bg-light mb-3">
                <header class="card-header bg-light text-center">
                    <h4 align="Center" class="card-title mt-2"> <b>Donor Dashboard</b><br>
                        <i>Reset your account password</i></h4>
                </header>
                <div class="card-body">
                    {% if success %}
                        <div class="alert alert-success text-center">
                            {{ msg }}
                        </div>
                    {% endif %}
  
                    <form method="POST" action="{% url 'donor-forgot-password' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">
                                <i class="fa fa-user mr-2"></i>Enter username:
                            </label>
                            <input 
                                type="text" 
                                name="username" 
                                class="form-control increase-width" 
                                id="username" 
                                placeholder="--- Enter the username ---" autofocus>
                        </div>
  
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-color btn-block">Reset Password</button>
                        </div>
                    </form>
  
                    <div class="form-group text-center">
                        <a href="{% url 'donor-login' %}" class="btn btn-secondary btn-sm">Go back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="zone blue footer_style">
        &copy; 2025. Dev Aladinh production. We donate Inc. All rights reserved. | <a href= "#">About us | </a> <a href= "#">Contact us. </a> 
    </footer>

    <!-- jQuery, Popper.js & Bootstrap JS -->
    <script 
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous"></script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
        crossorigin="anonymous"></script>
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
    </script>
  </body>
</html>
